# Code Along Thursday WK 13
- Christina Reeder

In [1]:
import pandas as pd
import numpy as np

import pymysql
from sqlalchemy import create_engine

## Chinook Database

![ERD.png]("Data/ERD.png")

In [4]:
username = "dcbailo89"
password = "1qaz2wsx3edc4rfv"
db_name = "Chinook"
host_name = "192.168.1.6"
connection = f"mysql+pymysql://{username}:{password}@{host_name}/{db_name}"

In [5]:
engine = create_engine(connection)
engine

Engine(mysql+pymysql://dcbailo89:***@192.168.1.6/Chinook)

In [11]:
q = """
SHOW TABLES;
"""
pd.read_sql(q,engine)

   Tables_in_Chinook
0              Album
1             Artist
2           Customer
3           Employee
4              Genre
5            Invoice
6        InvoiceLine
7          MediaType
8           Playlist
9      PlaylistTrack
10             Track

## Most a customer has spent on a single purchase and what is their customerid?

In [17]:
q = """
SELECT CustomerId, Total
FROM Invoice
ORDER BY Total DESC
LIMIT 1;
"""

pd.read_sql(q,engine)

   CustomerId  Total
0           6  25.86

## What country is the customer with the largest total bill from (from question 2)?

In [ ]:
q = """

"""

pd.read_sql(q,engine)

## Which customerID made the fewest purchases (invoices)?

In [ ]:
q = """

"""

pd.read_sql(q,engine)

## Retrieve the id, name, and # of playlists for tracks that appear on playlists more than 4 times?

In [ ]:
q = """

"""

pd.read_sql(q,engine)